product/priv-app/GmsCore/GmsCore.apk
system/system/app/OppoCamera/OppoCamera.apk
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/OppoGallery2/OppoGallery2.apk
system/system/etc/camera/license_release.lic
vendor/etc/license.lic
